*tester
*model_log
.vscode/
pickle_data/
__pycache__/
*roland/
*roland_public_data
*dygssm_env/
*dblp
*dblp3
*dblp5
*brain
*mooc
*myket
*reddit
*stackoverflow_M
*wikipedia
*ADNI_data
*brain_data
*NACC_data
*dygssm_env_1
