dgl==0.9.1
numpy==1.22
scikit-learn==1.0.2
torch==1.12.1
torch-scatter==2.0.9
tqdm==4.64.1
yacs
torchmetrics
torch_geometric
deepsnap
torch_sparse
pandas
matplotlib
walker
networkx==2.8.8
csrgraph
stellargraph
chardet
seaborn
dask
dask_ml
graphgym
einops